/* 导航栏固定在顶部的样式 */
.navbar {
    background-color: #a16439; /* 棕色背景 */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    text-decoration: none;
    color: #fdfdfd;
    font-size: 18px;
    font-weight: bold;
}

/* 内容区域需要留出导航栏的高度 */
.content {
    margin-top: 60px;
    padding: 20px;
}