@charset "UTF-8";
/* 全局样式 */
/*整体的背景颜色*/
body {
    background-color: rgb(255, 201, 135); 
    margin: 0; /* 移除默认边距 */
    margin-bottom:0px;
    padding: 0; /* 移除默认内边距 */
    min-height: 100vh; /* 视口高度 */
}

.main_image {
    margin-top: -50px; /* 向上移动 50px */
    margin-left:-50px;
    margin-right:-50px;
}

/* 导航栏样式父 */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(165, 110, 42, 0.912);
    z-index: 1000;
}
.navbar a {
    width:10%;
    height: 100%;
    text-decoration: none;
    color:white;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}
.navbar a.active{
    background-color: rgba(91, 58, 19, 0.912);
    height: 30px;
}

/* 导航栏样式子*/
.selection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.selection a {
    margin: 0 50px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}



/* 轮播图样式 */
.content{
    width: 1500px;
    height:600px;
    margin: 0px auto;
    overflow: hidden;
}

.tl{
    width:6000px;
    height:600px;
    animation: move 10s infinite;
}

img{
    width:1500px;
    height:600px;
    float:left;/*左浮动*/
}

/*平滑动画调整*/
@keyframes move {
    0%, 25% { margin-left: 0px; }
    25%, 50% { margin-left: -1500px; }
    50%, 75% { margin-left: -3000px; }
    75%, 100% { margin-left: -4500px; }
}


/*导航栏与轮播图之间 */
.content {
    margin-top: 20px; /* 导航栏留空间 */
    padding: 20px;
}

/*标题前棕色的竖条*/
.title-container{
    display:flex;
    align-items: center;
}
/*棕色竖条规格*/
.brown-bar{
    width:20px;
    height:40px;
    background-color:brown;
    margin-right:20px;
}
/*风韵河南四个字*/
h2{
    font-size:40px;
    color:brown;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*文旅特色四个字*/

/*标题棕色*/
.image-container{
    display:flex;
    align-items: left;
}

/*文旅特色四个字*/
h3{
    font-size:40px;
    color:brown;
    padding-left: 130px;/*前面空白长度*/
}

.footer{
    width:100%;
    height:50px;
    line-height:50px;
    text-align:center;
    background-color:rgba(165, 110, 42, 0.912);
    font-size:20px;
    color:white;
}